{% extends "base.html" %}

{% block app_content %}
  <h2>{{ chat.name }}</h2>

  <div class="chat-messages">
    {% for message in messages %}
      <div class="message {% if message.sender == current_user %}right{% else %}left{% endif %}">
        <img src="{{ message.sender.avatar(30) }}"> {{ message.sender.username }}
        <p>{{ message.body }}</p>
        <span>{{ moment(message.timestamp).fromNow() }}</span>
        <br></br>
      </div>
    {% endfor %}
  </div>

  <form method="post" action="{{ url_for('main.chat', chat_id=chat.id) }}" class="mb-3">
    {{ form.hidden_tag() }}
    {{ form.message(size=32) }}
    {{ form.submit() }}
  </form>
{% endblock %}
