{% extends 'base.html' %}

{% block title %}
    Chats - AlmaMates
{% endblock %}

{% block app_content %}

    <div class="container">
        </br>
        <h2>Create a New Chat</h2>
        <form method="post" action="{{ url_for('main.chats') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Chat name">
                {% if form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            </br>
            <div class="form-group">
                {{ form.participants.label }}
                {{ form.participants(class="form-control", multiple="multiple") }}
                {% if form.participants.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.participants.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            </br>
            <button class="btn btn-primary shadow d-block w-10" type="submit" name="submit">Create Chat</button>
        </form>

        <hr>

        <h2>Your Chats</h2>
        <div class="list-group">
            {% for chat in chats %}
                <a href="{{ url_for('main.chat', chat_id=chat.id) }}" class="list-group-item">
                    {% set new_messages = current_user.chat_new_messages(chat.id) %}
                    <h4 class="list-group-item-heading">{{ chat.name }}
                    <button class="btn btn-circle" style="border-radius: 50px;/*border: 3px solid black;*/background-color: #3763f4; visibility: {% if new_messages %}visible{% else %}hidden{% endif %};" type="button">
                        <text>{{ new_messages }}</text>
                    </button>
                    </h4>
                    <p class="text-muted mb-4">
                        {% if chat.messages.all() %}
                            {{ chat.get_last_message_username(current_user) }}: {{ chat.messages.all()[-1].body }}
                        {% endif %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
