{% extends "base.html" %}

{% block app_content %}
    <h1>Edit Profile</h1>
    </br>
    <form method="post" action="{{ url_for('main.edit_profile') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.avatar.label(class="form-label") }}
            {{ form.avatar(class="form-control") }}
            {% if form.avatar.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.avatar.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username">
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <textarea class="form-control" rows="4" name="about_me" placeholder="About me"></textarea>
            {% if form.about_me.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.about_me.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <button class="btn btn-primary shadow d-block w-10" type="submit" name="submit">Save</button>
        </div>
    </form>
{% endblock %}